body {
    font-family: "Libre Franklin", serif;
    font-weight: 10;
    font-style: normal;
    padding: 0;
    display: flex;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* prevents scrolling */
    background: linear-gradient(160deg, #43667B, #19338a);
}

.middle-div {
    max-height: 500px;
    display: flex;
    /* background-color: aquamarine; */
    width: 100%;
    min-height: 500px;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    position: absolute;
}

.welcoming-div {
    display: flex;
    flex-direction: column;
    /* padding: 30px;
    padding-right: 1400px;
    margin-top: 1px; */
}

.title-box {
background-color: #fff;
/* width: 540px; */
max-width: 540px;
max-height: 900px;
display: flex;
align-items: center;
flex-direction: column;
/* padding: 80px;
margin-left: 900px;
margin-top: -180px; */
border-radius: 15px;
color: #002765;
}

input {
    border: none;
    outline: none;
    background: #edeef0;
    border-radius: 15px;
    flex: 1;
    padding: 15px;
}

.create-button {
    border: none;
    background: transparent;
    /* font-size: 16px; */
}

.sign-up {
    font-weight: bold;
    cursor: pointer;
}

.sign-up:hover {
    text-decoration: underline;
}

@media (max-width: 1440px) { /* macbook */
    .title-box {
        width: 400px;
        padding: 40px;
        margin-top: -80px;
        margin-left: 600px;
    }

    .welcoming-div {
        padding-right: 800px;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) { /* 24-inch monitor */
    .title-box {
        width: 540px;
        padding: 80px;
        margin-left: 900px;
        margin-top: -90px;
    }

    .middle-div {
        margin-bottom: 100px;
    }

    .welcoming-div {
        padding: 30px;
        padding-right: 1000px;
        margin-top: 1px;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .title-box {
        width: 600px;
        padding: 140px;
        margin-left: 1300px;
        margin-top: -125px;
        font-size: 20px;;
    }

    .middle-div {
        margin-bottom: 400px;
    }

    .welcoming-div {
        padding: 30px;
        padding-right: 1300px;
        margin-top: 1px;
        font-size: 20px;
    }
}



/* create a way to line up both the text welcoming-div and .title-box along the middle of the screen across the screen
create media query selections for each screen resolution