body {
    font-family: "Libre Franklin", serif;
    font-weight: 10;
    font-style: normal;
    padding: 0;
    display: flex;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* prevents scrolling */
    background: linear-gradient(160deg, #43667B, #19338a);
}

.title-box {
background-color: gray;
width: 100%;
max-width: 540px;
max-height: 500px;
display: flex;
align-items: center;
flex-direction: column;
margin: 100px auto 230px;
padding: 40px 30px 10px;
border-radius: 15px;
}
