body {
    font-family: "Libre Franklin", serif;
    font-weight: 10;
    font-style: normal;
    padding: 0;
    display: flex;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* prevents scrolling */
    background: linear-gradient(160deg, #43667B, #19338a);
}

.welcoming-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 180px; */
    padding: 220px;
}

.title-box {
background-color: gray;
width: 540px;
/* max-width: 540px; */
max-height: 500px;
display: flex;
align-items: center;
flex-direction: column;
margin: 100px auto 100px 240px; /* top margin, right margin, bottom margin, left margin */
padding: 110px 30px 10px;
border-radius: 15px;
}



/* create a way to line up both the text welcoming-div and .title-box along the middle of the screen across the screen